body {
  font-family: Courier, sans-serif;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3em;
}


h3 {
  /*line-height: 25px;*/
  padding-bottom: 10px;
}

header {
  height: 120px;
  /*outline: dotted red 1px;*/
  text-align: center;
  line-height: 70px;

}

article {
  font-size: 32px;
  color: red;
}

.blankAnswer {
  border-bottom: solid #131313 2px;
  height: 60px;
  width: 45px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ababab;
  border-right: #131313 solid 2px;
  border-radius: 10%;
  -moz-box-shadow:    3px 3px 3px 0px #ccc;
   -webkit-box-shadow: 3px 3px 3px 0px #ccc;
   box-shadow:         3px 3px 3px 0px #ccc;

}

.guess {
  font-size: 1.8em;
  display:inline-block;
  height: 50px;
  width: 50px;
  background-color: #ababab;
  /*outline: dotted black 1px;*/
  /*display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;*/
  text-align: center;
line-height: 45px;
-moz-box-shadow:    3px 3px 3px 0px #ccc;
 -webkit-box-shadow: 3px 3px 3px 0px #ccc;
 box-shadow:         3px 3px 3px 0px #ccc;
}


input {
  width: 550px;
  height: 70px;
  font-family: Arial Black, serif;
  font-size: 32px;
margin: 0 auto;
}


aside {
  background-image: url("https://openclipart.org/image/2400px/svg_to_png/202671/stick-jump.png");
  background-size: cover;
  background-position: -90px;
  flex-grow: 1;
  outline: solid black 3px;
  width: 200px;
  height: 600px;
  flex-direction: column-reverse;
  display: flex;
}

nav {
display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 align-items: flex-start;
justify-content:flex-end;
  order: -1;
  /*outline: dotted red 1px;*/
  width: 200px;
  height: 600px;
  outline: solid black 2px;
}

.guesses {
  height: 100px;
  width: 200px;
  background-color: lemonchiffon;
  text-align: center;
}

nav div {
  height: 60px;
  width: 200px;
  background-color: lemonchiffon;
  text-align: center;
}



#main {
  display: flex;
  flex-direction: row;
  margin: 0 auto;

}

#maincontainer {
  width: 700px;
  /*display: flex;
  flex-direction: column;
  flex-grow: 4;
  align-content: center;
  justify-content: center;*/
}

main {
  display:flex;
  align-content: center;
  /*flex-grow: 4;*/
  /*outline: dotted red 1px;*/
  height: 100px;
  min-width: 50%;
  height: 25%;

  /*background-color: lemonchiffon;*/
}

section {
display: flex;
flex-direction: row;
 align-content: space-between;
 justify-content: space-around;
  flex-grow: 1;
  /*outline: dotted blue 1px;*/
  height: 25%;
  min-width: 50%;
}

section div {
  font-size: 36px;
  color: blue;
}

footer {
  /*outline: dotted red 1px;*/
  align-content: center;
}

.water {
  background-color: rgba(0, 0, 255, 0.5);;
  width: 100%;
  height: 12.5%;
  align-self: flex-end;
  /*flex-grow: 1;*/

}
